.ct-label.ct-horizontal { 
    position: relative;
    transform: rotate(90deg); 
    transform-origin: left top; 
}

.ct-label {
    color: black;
    font-size: 16px;
}

#chartTitle {
    font-size: 30px;
    text-align: center;
}